body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    width: 750px;
    height: 500px;
    border: 2px solid black;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(rgb(228, 66, 66), rgb(135, 135, 19));
    padding-inline-start: 0px;
    
     display: flex;
    justify-content: space-between; 
}


.cont{
     width: 200px;
     height: 123px;
     margin-bottom: 5px;
     background-color: rosybrown;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 74px;
    color: rgb(60, 54, 63);
    box-shadow: 13px 13px 13px rgb(83, 74, 73);
    border-radius: 4px;
    

}