nav{
    border: 1px solid red;
    text-align: center;
    font-style: italic;
    margin-bottom: 23px;
}
.hero{
    height: 300px;
    border: 2px solid blueviolet;
   background-color: rgb(236, 211, 177);

}

